@import "bootstrap";
@import "partials/articles";

.post {
  h1.title {}
  .byline {
    margin-bottom: 1em;
    font-size: 90%;
    .author {
      display: inline; }
    .author {
      font-weight: bold; } }
  margin-bottom: 20px;
  padding-bottom: 10px;
}